---
import config from "@/config/config.json";
import { Image } from "astro:assets";
// Importación corregida
import logoImage from "@/assets/images/logo.png";

const { showText } = Astro.props;
const { logo_text, logo_width, logo_height, title } = config.site;
const text = logo_text;
---

<a href="/" class="navbar-brand flex flex-row items-center">
  <Image
    class="h-9 w-auto"
    src={logoImage}
    alt={title}
    width={50}
    height={50}
    format="webp"
    quality={80}
  />

  {showText != false && (
    <p class="hidden md:block text-text md:text-3xl font-bold ml-2">
      {text ? text : logo_text}
    </p>
  )}
</a>