---
import config from "@/config/config.json";
import { Image } from "astro:assets";

// Importar imágenes de logo
const lightLogo = "/images/webp/logo-negro-sin-texto.webp";
const darkLogo = "/images/webp/logo-blanco-sin-texto.webp";

const { showText } = Astro.props;
const { logo_text, logo_width, logo_height, title } = config.site;
const text = logo_text;
---

<a href="/" class="navbar-brand flex flex-row items-center">
  <img
    class="h-9 w-auto dark:hidden"
    src={lightLogo}
    alt={`${title} - Logo claro`}
    width="50"
    height="50"
    loading="lazy"
  />
  <img
    class="h-9 w-auto hidden dark:block"
    src={darkLogo}
    alt={`${title} - Logo oscuro`}
    width="50"
    height="50"
    loading="lazy"
  />

  {showText != false && (
    <p class="hidden md:block text-text md:text-3xl font-bold ml-2">
      {text ? text : logo_text}
    </p>
  )}
</a>