# Este archivo es solo una referencia para configurar las variables de entorno en Netlify
# No subas este archivo a GitHub ni lo uses directamente

# Resend API
RESEND_API_KEY=re_AamXWQKc_2GCs1Motoc7rZFjqwVndgG8p
RESEND_FROM_EMAIL=no-reply@cronometras.com
RESEND_FROM_NAME=Cronometras App

# Email Configuration
EMAIL_RECIPIENT=info@cronometras.com

# Google Analytics
GOOGLE_ANALYTICS_ID=G-7FCEX5D4FF
