---
import { getCollection } from 'astro:content';
import Base from '../../layouts/Base.astro';
import PageHeader from '../../components/core/PageHeader.astro';

const pages = await getCollection('pages');
const continuous = pages.find((page) => page.id === 'en/continuous.mdx');
const { Content } = await continuous.render();
---

<Base title={continuous.data.document_title} description={continuous.data.meta_description}>
  <section class="py-16">
    <div class="container">
      <PageHeader page_data={continuous.data} />
    </div>
    <div class="container">
      <Content />
    </div>
  </section>
</Base>
