---
import { getCollection } from 'astro:content';
import Base from '../../layouts/Base.astro';
import PageHeader from '../../components/core/PageHeader.astro';

const pages = await getCollection('pages');
const method = pages.find((page) => page.id === 'es/method.mdx');
const { Content } = await method.render();
---

<Base title={method.data.document_title} description={method.data.meta_description}>
  <section class="py-16">
    <div class="container">
      <PageHeader page_data={method.data} />
    </div>
    <div class="container">
      <Content />
    </div>
  </section>
</Base>
