---
import { getCollection, render } from 'astro:content';
import Base from '../../layouts/Base.astro';
import PageHeader from '../../components/core/PageHeader.astro';

const pages = await getCollection('pages');
const organizations = pages.find((page) => page.id === 'es/organizations');
const { Content } = await render(organizations);
---

<Base title={organizations.data.document_title} description={organizations.data.meta_description}>
  <section class="py-16">
    <div class="container">
      <PageHeader page_data={organizations.data} />
    </div>
    <div class="container">
      <Content />
    </div>
  </section>
</Base>
